<div class="container" style="padding-top:110px;">
    <div id="policy-rent">
        <h2>대여 약관</h2>
    </div>

    <br>
    <i>('http://AWS_DNS:3000'이하 'KiwiBike')</i>은(는) 대여 약관에 따라 다음과 같은 처리방침을 두고 있습니다.
    <br><br>
    <i>('KiwiBike')</i>은(는) (주) KiwiBike는 대여 약관을 개정하는 경우 웹사이트 공지사항(또는 개별공지)을 통하여 공지할 것입니다.
    <br><br>
    ○ 본 방침은부터 2019년 3월 27일부터 시행됩니다.
    <br><br>

    <b>제1장 총칙</b>
    <br><br>
    <b>제 1조 (목적)</b><br>
    이 약관은 대여용 전동 킥보드 임대인과 임차인 사이의 대여용 전동 킥보드 임대차 계약(이하 “대여 계약”이라 합니다)상의 권리·의무에 관한 사항을 규정함을 목적으로 합니다.<br><br>
    <b>제2조(정의)</b><br>
    본 약관에서 사용하는 용어의 정의는 다음과 같습니다. 본 약관에 명시되지 않은 용어는 관련 법령이 정하는 바에 따르며, 그 외에는 일반적인 상거래관행에 따릅니다.<br><br>
    <div>
        1) “임대인”이라 함은 (주)KiwiBike(이하 “한성대학교”)를 말합니다.<br><br>
        2) “Kiwi(키위)”(이하 “서비스”)라 함은 “(주) KiwiBike”에서 제공하는 “서비스 이용 약관”에 명시된 온·오프라인 상의 서비스를 의미합니다.<br><br>
        3) “전동 킥보드”라 함은 통상적으로 말하는 킥보드(스케이트 보드에 긴 손잡이가 달린 모양의 2개의 바퀴가 달린 레포츠 용구)를 기본 형태로 취하고 거기에 전동 장치를 달아서 전기의 힘으로 달릴 수
        있게 한 이동 수단을 말합니다. 본 약관에서는 별도로 명시되지 않는 한, “(주) KiwiBike” 소유의, 대여용으로 제공되는 “전동 킥보드”를 “전동 킥보드”로 통칭합니다.<br><br>
        4) “임차인”이라 함은 “서비스 이용약관”에 따라 정상적인 회원가입을 완료한 “회원”을 의미합니다.<br><br>
        5) “홈페이지”라 함은 “ 한성대학교 KIWI TEAM ” 이 운영하는 'http://AWS_DNS:3000'이하 'KiwiBike' 의 홈페이지를 말합니다.<br><br>
        6) “앱”이라 함은 “(주) KiwiBike”가 제공하는 Kiwi(키위) 모바일 어플리케이션을 의미합니다.<br><br>
        7) “임대차 계약”이라 함은 “(주) KiwiBike”의 “홈페이지” 및 “앱” 내에서 진행되는 대여, 운행, 반납 등의 모든 “서비스”를 말합니다.<br><br>
        8) 본 조에서 정의되지 않은 약관상의 용어의 의미는 “개별약관” 및 “개별정책” 또는 일반적인 거래 관행을 따릅니다.<br><br>
    </div>
    <b>제3조(전동 킥보드의 임대와 사용)</b><br><br>
    1) “회원”은 회원 가입 또는 서비스 이용 시 동의한 “개별약관”, “개별정책” 및 다음 각 호의 규정들을 준수할 의무가 있습니다.<br><br>
    2) “회원”은 “전동 킥보드”를 운행하기 위해 유효한 운전면허(원동기장치자전거 면허 등)을 취득해야 하는 것을 포함해서 관계법령에서 정하는 자격요건을 갖춰야 합니다.<br><br>
    3) “회원”의 운전면허의 정지, 취소 또는 “회원”이 무면허상태로 “전동킥보드”를 이용함으로써 발생하는 모든 책임은 “회원”에게 있습니다.<br><br>
    4) 가입된 “회원”의 회원정보를 제 3자가 사용하는 것은 금지되어 있습니다.<br><br>
    5) 회원 외 지정되지 않은 제 3자가 서비스를 이용하는 것은 금지되어 있습니다. 이로 인해 발생되는 모든 책임은 “회원” 및 서비스를 이용한 제 3자에게 있습니다. 이로 인해 “(주) KiwiBike”에
    서비스 요금 및 사고처리비용 등 비용이 발생한 경우 “회원”은 제 3자와 해당 채무에 대해 배상해야할 공동 책임이 있습니다.<br><br>
    6) “회원”은 “전동 킥보드”의 조작에 능숙하고 “전동 킥보드”를 조작하기에 신체적으로 적합해야 합니다. “회원”은 “전동 킥보드”의 제조사에서 제공하는 매뉴얼을 <a
        href="https://cdn.(키위).kr/static/(키위)/pdf/m365_manual.pdf" style="text-decoration: underline">여기</a>에서 확인할 수
    있으며, 해당 정보는 주기적으로 업데이트됩니다. “회원”은 “전동 킥보드”를 운행하기함으로써 상해 또는 건강상태에 대한 위험성을 얻을 수 있습니다. “회원”은 본인이 비, 안개, 눈, 우박, 빙판, 폭풍우,
    뇌우 등 날씨 및 가시거리, 주변 환경 및 교통 상황에 따라 본인의 “전동 킥보드” 운행 여부 결정에 책임이 있으며, “회원”은 그에 따라 “전동 킥보드” 동작 및 제동 거리를 조정해야 합니다.<br><br>
    7) “전동 킥보드”는 “(주) KiwiBike”의 독자적인 소유물입니다. “전동 킥보드” 및 “전동 킥보드”에 부착된 “(주) KiwiBike”의 장비, 부속품 등 모든 장비는 “(주) KiwiBike”의
    소유물입니다. “회원”은 “전동 킥보드”, “전동 킥보드”의 모든 부속품을 해체, 개조, 수리, 변조해서는 안되며 “전동 킥보드”, “전동 킥보드”의 모든 부속품에 낙서해서는 안됩니다. “회원”은 “전동
    킥보드”에 부착된 스티커 등에 낙서를 하거나, 이를 벗겨내거나, 해체해서는 안됩니다. “회원”은 “(주) KiwiBike”의 서면 동의 없이 “전동 킥보드” 등 “(주) KiwiBike”의 장비를 광고나
    상업적인 활동에 이용해서는 안됩니다.<br><br>
    8) “회원”은 “전동 킥보드”가 항상 사용가능한 것이 아니라는 것을 알고, 이에 동의합니다. “전동 킥보드”는 본 약관에서 정한 최대 기간인 24시간 이내의 기간 동안만 임대될 수 있습니다. “전동
    킥보드”의 수는 제한되어 있으며, “(주) KiwiBike”는 “회원”의 “전동 킥보드”의 이용 가능 여부를 보장하지 않습니다.<br><br>
    9) “회원”은 “전동 킥보드”의 사용, 주행, 주차, 충전 등 모든 것에 대해서 헬멧 착용 관련 법을 포함해서 모든 관계 법령을 준수해야 합니다. “회원”은 “서비스”를 이용하는 동안 타인에 대한 예절과
    존중을 가지고 행동해야 합니다.<br><br>
    10) “(주) KiwiBike”는 서류가방, 백팩, 가방 등 “전동 킥보드” 주행 중 균형을 방해하거나 안전에 위험을 줄 수 있는 물건들을 소지/운반하지 않는 것을 권장합니다. “회원”은 만약 “회원”이
    이런 물건을 소지/운반할 경우 제품이 몸에 잘 맞고 “전동 킥보드”를 안전하게 작동할 수 있는 능력이 저하되지 않는지 확인해야 합니다.<br><br>
    11) “회원”은 백팩이나 가방 등 무거운 물건을 “전동 킥보드”의 핸들바(손잡이)에 두어서는 안됩니다.<br><br>
    12) “회원”은 주행 중 휴대전화나 휴대용 음향기기 등 주행 중 “전동 킥보드”를 안전하게 작동하지 못하게 할 수 있는 장치를 사용해서는 안됩니다.<br><br>
    13) “회원”은 알코올, 약물, 의약품 등 기타 “전동 킥보드”를 안전하게 운행할 수 있는 능력을 저하시킬 수 있는 것의 영향을 받는 동안에는 절대 “전동 킥보드”를 운행해서는 안됩니다.<br><br>
    14) “회원”은 “전동 킥보드”에 다른 사람이나 아이를 태워서는 안됩니다.<br><br>
    15) “회원”은 반드시 “(주) KiwiBike”로부터 제공되는 잠금 기능만을 사용해야 합니다. “회원”은 그 외의 잠금 장치를 추가하거나, “전동 킥보드”를 다른 것에 고정함으로써 잠가서는 안됩니다.
    “회원”이 “전동 킥보드” 운행이 끝날 때 “앱”을 통해서 반납 및 잠금을 완료하지 않은 경우 운행이 계속되고 이용 요금이 계속 과금됩니다.<br><br>
    16) “회원”은 “전동 킥보드”의 지지대를 통해서 “전동 킥보드”를 올바른 위치에 주차해야 합니다. “회원”은 “전동 킥보드”를 허가되지 않은 개인 사유지, 잠긴 구역, 공공장소가 아닌 곳에 주차해서는
    안됩니다. “회원”은 “전동 킥보드”가 넘어질 위험이 있는 교통량이 많은 장소에 주차해서는 안됩니다. “전동 킥보드”는 잘 보이는 장소에 주차되어야 합니다.<br><br>
    17) “전동 킥보드”는 제한된 용도로 사용되도록 설계되었습니다. “회원”은 본인이 “전동 킥보드”로 레이싱, 산악 주행, 스턴트 또는 트릭 주행 등을 위해 “전동 킥보드”를 사용해서는 안됩니다. “회원”은
    비포장도로, 통상적으로 도심에 있을 수 있는 이상의 물이 있는 곳에서의 주행, 금지되었거나 불법 혹은 다른 사람들에게 방해가 되는 장소에서 주행해서는 안됩니다.<br><br>
    18) “회원”은 “전동 킥보드”의 최대 하중을 초과해서는 안됩니다. (100kg 이하)<br><br>
    19) “회원”은 본 약관에 지정된 경우를 제외하고 “서비스”에 무단으로 접근하거나 사용해서는 안됩니다.<br><br>
    20) “회원”은 모든 사고, 충돌, 파손, 상해 및 “전동 킥보드” 도난을 최대한 빠르게 신고해야만 합니다. 만약 충돌 사고가 상해, 기물 파손 혹은 도난된 “전동 킥보드”와 관련이 있을 경우, “회원”은
    사고 이후 24시간 이내에 지역 경찰서에 신고해야만 합니다. “회원”은 도난 혹은 손실된 “전동 킥보드”에 관련된 모든 종류의 민형사상의 책임을 지는 것에 동의합니다. 이 경우, “회원”이 별도로 가입한
    보험이 정책상 “전동 킥보드”의 손상이나 관련된 사고를 보상하지 않을 수 있습니다. “(주) KiwiBike”는 “회원”이 가입한 보험의 보상 범위에 대한 책임이 없으며, 보험의 보상 범위를 확인하기 위해서는
    본인의 보험사로 문의하시기 바랍니다.<br><br>
    21) “회원”은 “전동 킥보드”를 임차했을 때와 같은 상태로 반납하는 것에 동의합니다. “회원”은 정상적인 수준의 마모와 감가상각에 대해서는 배상 책임을 지지 않습니다.<br><br>
    22) “전동 킥보드”는 주기적으로 충전이 필요합니다. “회원”은 “전동 킥보드”의 모든 제한 사항과 요구사항들을 고려하여 “전동 킥보드”를 안전하고 신중하게 사용하고 작동하는 것에 동의합니다. “회원”은
    아래 각 호를 완전히 이해하고 동의합니다.<br><br>
    <div>
        a) “전동 킥보드”의 배터리 잔량은 “전동 킥보드”를 사용함(주행 시간 및 거리 모두)에 따라 점차 줄어들며, 배터리 잔량이 감소함에 따라 “전동 킥보드”의 속도 및 기타 작동 성능이 저하될 수
        있습니다.<br><br>
        b) “회원”이 “전동 킥보드”를 임차할 때 “전동 킥보드”의 배터리 잔량 수준은 보장되지 않으며, 임차할 때마다 달라질 수 있습니다.<br><br>
        c) “전동 킥보드” 사용 중 배터리 소모 속도는 보장되지 않으며, “전동 킥보드”, 도로 상태 날씨 및 기타 여러 요인들에 의해 달라질 수 있습니다.<br><br>
        d) “회원”은 “전동 킥보드” 운행 전 “전동 킥보드”의 배터리 잔량을 확인하고 운행에 적절한지 확인할 책임이 있습니다.<br><br>
        e) “전동 킥보드”의 배터리 잔량이 모두 소모되기 전 어느 정도 거리 혹은 시간을 주행할 수 있는지는 보장되지 않습니다.<br><br>
        f) “회원”이 “전동 킥보드”를 사용하는 도중, “회원”의 원하는 목적지에 도달하기 전 언제라도 “전동 킥보드”의 배터리 잔량이 모두 소모될 수 있으며, 이로 인해 작동이 중지될 수
        있습니다.<br><br>
    </div>
    23) “회원”이 “전동 킥보드”를 임차해서 이용하는 중 “전동 킥보드”의 배터리 잔량이 부족한 경우, “회원”은 본 약관의 모든 조항에 따라 주행을 종료해야 합니다. 혹은, “회원”의 재량으로 “회원”은
    “전동 킥보드”의 제조업체가 승인한 적절하고 합법적으로 사용할 수 있는 충전장치로 “전동 킥보드”를 충전할 수 있습니다. “회원”은 “전동 킥보드”를 충전하는 것과 관련된 모든 관계법령과 규칙을 준수하는 것에
    동의합니다. “회원”은 “전동 킥보드” 충전과 관련된 모든 민형사상의 책임을 지며 그 결과에 대해 “(주) KiwiBike”가 “회원”에게 배상하지 않는다는 것에 동의합니다. “회원”은 본인이 “전동
    킥보드”를 충전함으로써 모든 위험에 대한 책임이 본인에게 있음에 동의하며, “전동 킥보드” 충전과 관련하여 사람, 재산, 및 임차한 “전동 킥보드” 등에 끼친 직간접적인 모든 종류의 상해 및 파손 및 그에
    따른 민형사상의 책임이 본인에게 있다는 것에 동의합니다.<br><br>

    <b>제4조(전동 킥보드 정보 수집장치)</b><br><br>
    “(주) KiwiBike”는 효율적인 서비스 운영을 위하여 “전동 킥보드”에 위치정보 수집장치를 포함하는 운행정보 수집장치를 설치할 수 있습니다. 그 목적은 다음과 같습니다.<br><br>
    <div>
        1) 운행정보 수집장치<br><br>
        <div>
            a) “운행정보 수집장치”라 함은 “전동 킥보드”의 무인 대여 및 반납 기능, 위치, 주행거리, 이용 시간, 도난 및 파손 예방 등 “전동 킥보드”의 운행 정보를 “(주) KiwiBike”의
            서버로 전송할 수 있는 통신 단말기를 말합니다.<br><br>
            b) “운행정보 수집장치”를 통해 수집된 데이터는 사업자 자산관리 및 보호, “전동 킥보드” 반납여부 확인, 주행거리에 따른 과금 등의 목적을 위해 활용될 수 있습니다.<br><br>
            c) “(주) KiwiBike”는 “회원”의 “전동 킥보드” 미반환 등 계약 위반시의 “전동 킥보드” 회수, “전동 킥보드” 임대차 계약의 이행 또는 분쟁 해결 등을 위한 경우, 수사기관 등의
            적법한 조사요구 또는 명령 등에 대한 협조 및 이행을 위한 경우, 그 외에 “회원”이 별도로 위치 제공 정보 수집, 이용, 제공에 동의한 경우 위 목적 범위 내에서 전동킥보드의 위치정보를 수집,
            이용, 제공할 수 있습니다.<br><br>
            d) “위치 정보의 보호 및 이용 등에 관한 법률 제 15조”에 따라 급박한 위험으로부터 긴급구조 요청이 있는 경우에는 “회원”의 동의 없이도 “회원” 개인의 위치 정보가 긴급구조기관에게 제공될
            수 있습니다.<br><br>
            e) “(주) KiwiBike”의 “전동 킥보드”가 분실 또는 도난 당한 것으로 간주되는 경우, “운행정보 수집장치”로부터 전송된 데이터는 “전동 킥보드”가 특정 기간에 “회원”에 의해
            사용되었다는 증거로 활용될 수 있습니다.<br><br>
        </div>
    </div>
    <b>제5조(결제 및 요금)</b><br><br>
    <div>
        1) “회원”은 “(주) KiwiBike”의 “홈페이지” 및 “앱” 내에 설명된 가격을 기반으로 하는 주행 요금 기준으로 “전동 킥보드”를 사용할 수 있습니다. “회원”이 “(주) KiwiBike”에
        지불하는 요금 및 기타 비용에는 세금 및 지방세가 부과될 수 있습니다. “(주) KiwiBike”는 해당 금액을 “회원”이 등록한 결제 카드 혹은 “(주) KiwiBike”가 인정하는 수단으로
        부과합니다.<br><br>
        2) 쿠폰은 일회성으로 제공되며 다른 혜택과 중복적용할 수 없고, 양도될 수 없습니다.<br><br>
        3) “전동 킥보드”의 최대 임대 시간은 24시간입니다. “회원”은 “회원”이 “전동 킥보드”를 임차한 후 24시간 이내에 “전동 킥보드” 임대를 종료해야만 합니다. “회원”은 그 후 다시 “전동
        킥보드”를 임차할 수 있습니다. “회원”은 “전동 킥보드”의 잠금과 관련된 시간 경과를 인지하는 것에 전적으로 책임이 있습니다. 일일 최대 요금은 10만원이며, 역일을 기준으로 합니다. “전동 킥보드”
        반납 이후, “회원”에게 사용 시간에 따른 임차료와 일일 최대 요금 중 낮은 요금이 부과됩니다. 48시간 이내에 “전동 킥보드”를 반납하지 않은 경우 (주행 종료 및 잠금이 모두 완료되어야 함) 분실
        혹은 도난으로 간주되며, “회원”은 최대 40만 원의 요금이 부과되며 경찰에 신고될 수 있습니다. 또한, “(주) KiwiBike”는 “전동 킥보드”가 분실 혹은 도난되지 않은 경우에도 24시간을
        초과한 임대에 대해서 임차료 및 일일 최대 요금과 별개로, 3만 원의 요금을 부과할 수 있습니다.<br><br>
        4) “서비스”를 사용하기 위해 “회원”은 “(주) KiwiBike”에 유효한 신용카드 혹은 체크카드 등 결제카드 번호와 만료일 등을 제공해야 합니다. “회원”은 본인이 “(주) KiwiBike”에
        제공한 결제 카드를 사용할 권한이 있음을 보증합니다. “회원”은 “(주) KiwiBike”에게 본인에 의해 발생한 모든 요금을 해당 카드를 통해 결제할 수 있도록 권한을 부여합니다. “(주)
        KiwiBike”에 의해 징수되는 모든 요금에는 세금이 부과될 수 있습니다. “회원”이 본인의 결제카드에 대해 이의를 제기할 경우, “회원”은 이의를 제기할 건이 있는 달의 마지막 날로부터 10 영업일
        이내로 “(주) KiwiBike”에 이의제기 금액 및 이의제기를 위해 필요한 운행 자료 (날짜, 주행 시작, 종료 시각 등)을 제출해야 합니다. “회원”은 카드와 관련된 모든 변동 사항을 즉시 “(주)
        KiwiBike”에 알리는 데 동의합니다.<br><br>
        5) “회원”은 “전동 킥보드”를 적절한 장소에 주차하는게 불가능한 경우 (예를 들면, 사유지, 잠긴 구역 혹은 다른 접근 불가능한 곳에서 운행을 종료한 경우) “회원”은 “(주) KiwiBike”에
        “전동 킥보드” 픽업을 요청할 수 있습니다. 이 경우, “(주) KiwiBike”는 “회원”에게 최대 10만 원의 픽업 요금을 청구할 수 있습니다. 만약 “회원”이 운행한 “전동 킥보드”가 경고 없이
        부적절한 곳에 주차될 경우 “전동 킥보드”를 복구할 때까지의 모든 주행 요금과 “전동 킥보드” 픽업 요금의 최고액(10만 원)을 부담해야 합니다. 상기 금액은 변동될 수 있습니다.<br><br>
    </div>
    <b>제6조(기타 전동 킥보드 사용 조건)</b><br><br>

    <div>
        1) “회원”은 “전동 킥보드” 운행 전 아래 각 호를 포함하여 “전동 킥보드”의 기본적인 안전 검사를 수행해야 합니다. “회원”은 문제점을 발견한 경우에는 “(주) KiwiBike”의 고객센터에 이를
        즉각 신고해야하며, “전동 킥보드”를 운행해서는 안됩니다.<br><br>
        <div>
            a) 타이어 및 휠의 정상 여부<br><br>
            b) 모든 브레이크 및 램프의 정상 작동 여부<br><br>
            c) “전동 킥보드” 프레임의 정상 여부<br><br>
            d) 배터리 잔량의 충분 여부<br><br>
            e) 파손 흔적, 지나친 마모 흔적 및 기타 명백한 기계적 문제 혹은 유지보수 상의 문제점 유무<br><br>
        </div>
        2) “전동 킥보드”가 아래 각 호의 상황인 경우 “전동 킥보드”는 분실 혹은 도난된 것으로 간주될 수 있습니다. “(주) KiwiBike” 및 “회원”은 다른 타당한 사실이나 상황이 제시되지 않는
        한, 분실 혹은 도난된 “전동 킥보드”의 마지막 “임차인”에게 책임이 있다는 데 동의합니다. “(주) KiwiBike”가 “전동 킥보드”가 분실 혹은 도난되었다고 간주할 경우, “(주)
        KiwiBike”는 “전동 킥보드”의 마지막 “임차인”과 관련하여 “전동 킥보드” 반환,기타 적절한 보상 및 경찰에 신고를 위해 모든 조치를 취할 권한이 있습니다. “임차인”은 “(주)
        KiwiBike”의 컴퓨터에 의해 생성되는 데이터가 “전동 킥보드”가 특정 기간에 “임차인”에 의해 사용되었다는 증거로 활용돌 수 있다는 것에 동의합니다. “회원”은 “전동 킥보드”가 사라졌거나 도난된
        경우 즉시 “(주) KiwiBike”에 신고하는 것에 동의합니다.<br><br>
        <div>
            a) “전동 킥보드”가 24시간 이내에 반납되지 않은 경우<br><br>
            b) “전동 킥보드”의 “운행정보 수집장치” 전체 혹은 일부가 해제되었거나 정상 작동하지 않는 경우<br><br>
            c) “전동 킥보드”가 운행 이후 10분 이상 사유지, 잠긴 구역, 혹은 공공장소가 아닌, 부적절한 장소에 있을 경우<br><br>
            d) “전동 킥보드”가 반납된 이후 10미터 이상 이동했고, 다른 “회원”, “(주) KiwiBike”, 혹은 “(주) KiwiBike”의 인증된 협력 업체에 의한 것이 아닌 것으로 추정되는
            경우<br><br>
            e) 기타 타당하거나 선의에 의한 것이 아닌, 분실 혹은 도난된 것으로 의심되는 사실이나 정황이 있는 경우<br><br>
        </div>
        3) “(주) KiwiBike”는 모든 “회원”이 성능이 우수한 것으로 인증된 (Snell, DOT 등) 헬멧을 제조자가 권장하는 사용법에 따라 착용하는 것을 권장합니다. “(주) KiwiBike” 등
        “회원” 본인을 제외한 누구도 헬멧의 품질과 안전에 대해 보증하지 않으며, “회원”은 “서비스” 이용 중 당한 상해에 대해 헬멧 사용 여부와 관계없이 누구도 책임을 지지 않는다는 것에 대해 동의합니다.
        “회원”은 헬멧이나 다른 안전 장비를 착용하지 않는 것의 위험성에 대해 알고 있으며, 본 약관에서 구체적으로 다루지 않은 추가적인 안전 조치 및 주의를 해야할 수 있습니다.<br><br>
        4) “(주) KiwiBike”는 “전동 킥보드”를 운행하기 위한 장소를 제공하거나 유지하지 않습니다. 도로, 보도, 차도 등은 날씨, 교통량 등 기타 위험으로 인해 위험할 수 있습니다.<br><br>
        5) “회원”은 “(주) KiwiBike”가 공공 사업자가 아님에 동의하며, “서비스”는 “회원” 스스로가 “전동 킥보드”를 작동시킬 수 있고, 관계법령상 그럴 자격이 있으며, 본 약관의 모든 조항에
        동의하는 사람들에게만 제공됩니다.<br><br>
    </div>
    <b>제7조(“책임”)</b><br><br>

    <div>
        1) “(주) KiwiBike”는 “(주) KiwiBike”의 고의 또는 중과실이 없는 한, “회원”의 서비스 이용 중에 발생하는 모든 사고, 상해, 범칙금 등에 대해서 책임지지
        않습니다.<br><br>
    </div>
    <b>제8조(준거법 및 관할법원)</b><br><br>

    <div>
        1) “(주) KiwiBike”와 “회원”간 제기된 소송은 대한민국법을 준거법으로 합니다.<br><br>
        2) “(주) KiwiBike”와 “회원”간 분쟁이 발생한 경우 “(주) KiwiBike”의 본점소재지를 관할하는 법원을 관할법원으로 합니다. 단, “(주) KiwiBike”와 “회원”이 관할법원에
        대해 약정할 경우에는 그에 따릅니다.<br><br>
    </div>
</div>