#footerimage{
    background-image: url("../../../assets/images/FreeGo_Footer.png");
    background-repeat: no-repeat;
    background-size: 120%;
    height: 240px;
    width: 100%;
    background-position: center;
    margin-top:10px;

} 
