<div id="KIWI_nav">
  <nav class="navbar navbar-expand-sm ">
    <!-- Brand/logo -->
    <a class="navbar-brand" id="KIWI_Home" (click)="KIWI_LOGO()">
      <img src="../../../assets/images/Kiwi_Logo.png" alt="logo" style="width:50px;"> KIWI
    </a>

    <!-- Links -->
    <ul class="nav navbar-nav" id="KIWI_TOP">

      <li class="nav-item" id="L_home">
        <a class="smoothscroll" id="KIWI_List" (click)="KIWI_Home()">홈</a>
      </li>
      <li class="nav-item" id="L_service">
        <a class="smoothscroll" id="KIWI_List" (click)="KIWI_Service()">서비스소개</a>
      </li>
      <li class="nav-item" id="L_add">
        <a class="smoothscroll" id="KIWI_List" (click)="KIWI_AddMethod()">등록방법</a>
      </li>
      <li class="nav-item" id="L_safety">
        <a class="smoothscroll" id="KIWI_List" (click)="Kiwi_Safety()">안전수칙</a>
      </li>
      <li class="nav-item" id="L_friend">
        <a class="smoothscroll" id="KIWI_List" (click)="KIWI_Alliance()">제휴</a>
      </li>
    </ul>
  </nav>
</div>