<div id="FreeGo_nav">
  <nav class="navbar navbar-expand-sm ">
    <!-- Brand/logo -->
    <a class="navbar-brand" (click)="FreeGo_LOGO()">
      <img src="../../../assets/images/FreeGo_Logo.png" alt="logo" id="FreeGo_Home">
    </a>

    <!-- Links -->
    <ul class="nav navbar-nav" id="FreeGo_TOP">

      <li class="nav-item" id="L_home">
        <a class="smoothscroll" id="FreeGo_List" (click)="FreeGo_Home()">홈</a>
      </li>
      <li class="nav-item" id="L_service">
        <a class="smoothscroll" id="FreeGo_List" (click)="FreeGo_Service()">서비스소개</a>
      </li>
      <li class="nav-item" id="L_add">
        <a class="smoothscroll" id="FreeGo_List" (click)="FreeGo_AddMethod()">등록방법</a>
      </li>
      <li class="nav-item" id="L_safety">
        <a class="smoothscroll" id="FreeGo_List" (click)="FreeGo_Safety()">안전수칙</a>
      </li>
      <li class="nav-item" id="L_friend">
        <a class="smoothscroll" id="FreeGo_List" (click)="FreeGo_Alliance()">제휴</a>
      </li>
    </ul>
  </nav>
</div>