<div id="FreeGo_Main" class="row">
  <div id="Main_page">
    <img src="../../../assets/images/Freego_Marker.png" style="width:60px; height: 75px; margin-bottom: 15px">
    <h1 id="Main_title">언제 어디서나 즐기는</h1>
    <h1 id="Main_title" style="color: #7faaff;">스마트 모빌리티</h1>
    <img src="../../../assets/images/Freego_Marker2.png" style="margin-top:10px; width: auto; height:38px;">
    <div class="row" id="FreeGo_APP">
      <a href="https://play.google.com/store/apps/details?id=com.hansung.android.kiwi">
        <img src="../../../assets/images/Google_Play.png" style="width:120px; height:auto;"></a>
      &nbsp;&nbsp;
      <a><img src="../../../assets/images/App_Store.png" style="width:120px; height:auto;"></a>
    </div>

  </div>
</div>


<!-- HOME MAIN PAGE END-->
<!-- Add Method Code ! -->

<!-- MAKE FriendShip Part ! -->
<div id="FreeGo_FriendShip">
  <div class="row" style="text-align:center">
    <div class="col">
      <div id="FreeGo_Content_Title">
        <hr>
        제휴
      </div>
      <img src="../../../assets/images/FreeGo_Alliance.PNG" width="400px" height="auto">
      <div id="FreeGo_Content_Contents" style="margin-top: 30px;">
        교통 체증과 주차난을 해결할 친환경적 퍼스널 모빌리티 공유 서비스
        <br />
        공유 서비스 FREEGO와 함께
        <br />
        제휴 문의 FreeGO @ FreeGo.Kr

      </div>
    </div>
  </div>
</div>


<!-- MAKE ADD HOW ~!! -->
<div class="row" id="FreeGo_AddHOW" style="text-align: center">
    <div class="col">
    <div id="FreeGo_Content_Title" style="color:white">
        <hr style="border: solid 3px #ffffff;">
        등록방법
      </div>
      </div>
</div>








<div id="Kiwi_AddHOW">
  <div class="row" style="text-align:center">
    <div class="col">
      <h1 style="font-weight: bold; margin-top:100px; margin-bottom:50px; letter-spacing:12px; font-size:55px;">등록방법
      </h1>
    </div>
  </div>
  <div class="container" id="Kiwi_AddHOW_Table">
    <div class="bgpad text-center">
      <div class="row">
        <div class="col-6">
          <img width="100%" height="80%" src="../../../assets/images/Kiwi_Addition_1.png" alt="">
          <h5 style="font-size:30px; margin:20px">회원가입을 해주세요</h5>
        </div>
        <div class="col-6">
          <img width="100%" height="80%" src="../../../assets/images/Kiwi_Addition_2.png" alt="">
          <h5 style="font-size:30px; margin:20px">주변 보관소로 이동하세요</h5>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <img width="100%" height="80%" src="../../../assets/images/Kiwi_Addition_3.png" alt="">
          <h5 style="font-size:30px; margin:20px">카드를 준비해주세요</h5>
        </div>
        <div class="col-6">
          <img width="100%" height="80%" src="../../../assets/images/Kiwi_Addition_4.png" alt="">
          <h5 style="font-size:30px; margin:20px">앱을 이용하여 잠금을 해제 후 이용해주세요</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="Kiwi_Safety">
  <div class="row" style="text-align:center">
    <div class="col">
      <h1 style="font-weight: bold; margin-top:100px; letter-spacing:12px; font-size:55px;">안전수칙
      </h1>
    </div>
    <div class="text-center" style="height: 150px; letter-spacing: 5px; margin-bottom:2%; padding-bottom:0;">
      <div style="display:table-cell; vertical-align: middle; width: 1920px">
        <h2>안전한 <span style="color:#60da0f">KIWI</span>를 위한 사용 방법</h2>
        <p class="maxwidth700" style="margin-bottom: 0; font-size:22px;">보호 장비와 안전한 사용 방법을 익혀 <img
            src="../../../assets/images/Kiwi_Logo.png" style="width:30px; height:30px; margin-right: 5px" alt="logo">
          <span style="color:#60da0f">KIWI</span>를 이용하세요!</p>
        <p class="maxwidth700" style="font-size:22px">사고를 예방할 수 있습니다.</p>
      </div>
    </div>
  </div>

  <!-- MAKE Safety TABLE ! -->
  <div class="container" id="Kiwi_Safety_Table">
    <div class="row">
      <div class="col-4" style="text-align: center">
        <img width="100%" height="80%" src="../../../assets/images/Kiwi_Safety_01.png" alt="">
        <h5 style="font-size:30px; margin:20px">핼멧을 꼭 착용해주세요</h5>
      </div>
      <div class="col-4" style="text-align: center">
        <img width="100%" height="80%" src="../../../assets/images/Kiwi_Safety_02.png" alt="">
        <h5 style="font-size:30px; margin:20px">지정된 장소에 보관해주세요</h5>
      </div>
      <div class="col-4" style="text-align: center">
        <img width="100%" height="80%" src="../../../assets/images/Kiwi_Safety_03.png" alt="">
        <h5 style="font-size:30px; margin:20px">지정된 장소에 보관해주세요</h5>
      </div>
    </div>

    <div class="row">
      <div class="col-4" style="text-align: center">
        <img width="100%" height="80%" src="../../../assets/images/Kiwi_Safety_04.png" alt="">
        <h5 style="font-size:30px; margin:20px">양쪽 손잡이를 당기면 제동입니다</h5>
      </div>
      <div class="col-4" style="text-align: center">
        <img width="100%" height="80%" src="../../../assets/images/Kiwi_Safety_05.png" alt="">
        <h5 style="font-size:30px; margin:20px">도로에 장애물을 주의하세요</h5>
      </div>
      <div class="col-4" style="text-align: center">
        <img width="100%" height="80%" src="../../../assets/images/Kiwi_Safety_06.png" alt="">
        <h5 style="font-size:30px; margin:20px">교통 법규를 준수하세요</h5>
      </div>
    </div>

  </div>
</div>

<!-- MAKE Safety TABLE ! -->
<div class="container" id="Kiwi_Safety_Table">
  <div class="row">
    <div class="col-4" style="text-align: center">
      <img width="100%" height="80%" src="../../../assets/images/Kiwi_Safety_01.png" alt="">
      <h5 style="font-size:30px; margin:20px">핼멧을 꼭 착용해주세요</h5>
    </div>
    <div class="col-4" style="text-align: center">
      <img width="100%" height="80%" src="../../../assets/images/Kiwi_Safety_02.png" alt="">
      <h5 style="font-size:30px; margin:20px">지정된 장소에 보관해주세요</h5>
    </div>
    <div class="col-4" style="text-align: center">
      <img width="100%" height="80%" src="../../../assets/images/Kiwi_Safety_03.png" alt="">
      <h5 style="font-size:30px; margin:20px">지정된 장소에 보관해주세요</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-4" style="text-align: center">
      <img width="100%" height="80%" src="../../../assets/images/Kiwi_Safety_04.png" alt="">
      <h5 style="font-size:30px; margin:20px">양쪽 손잡이를 당기면 제동입니다</h5>
    </div>
    <div class="col-4" style="text-align: center">
      <img width="100%" height="80%" src="../../../assets/images/Kiwi_Safety_05.png" alt="">
      <h5 style="font-size:30px; margin:20px">도로에 장애물을 주의하세요</h5>
    </div>
    <div class="col-4" style="text-align: center">
      <img width="100%" height="80%" src="../../../assets/images/Kiwi_Safety_06.png" alt="">
      <h5 style="font-size:30px; margin:20px">교통 법규를 준수하세요</h5>
    </div>
  </div>

</div>






<div class="container" id="FreeGo_ServiceIn">
  <div class="d-flex justify-content-center" style="margin-top: 100px; margin-bottom: 100px;">
    <div class="col">
      <img src="../../../assets/images/KIWI_APP.png" width="250px" height="auto" style="margin-left:250px">
    </div>
    <div class="col" style="text-align:center; height: 100%; display: table; margin-right: 200px; ">
      <div style="display: table-cell; vertical-align: middle">
        <h1 style="margin-top:70px; margin-bottom:50px; letter-spacing:6px; font-size:55px;"><b>서비스소개</b></h1>

        <h4 style="margin-bottom:40px; font-size:30px;">내 주변의 <span style="color:#60da0f">키위</span>를 찾아보세요.<br />
          빠르고 편한 이동을 경험하실 수 있습니다.</h4>

        <h3 style="font-size:35px;"><b>지금 <span style="color:#60da0f">1,000원</span>으로 출발하세요!</b></h3>

      </div>
    </div>
  </div>
</div>