<nav class="navbar navbar-expand-lg navbar-white bg-white justify-content-around" style="display:flex">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
  <ul class="navbar-nav w-100 justify-content-around">
      <li class="nav-item active">  <a class="nav-link" id="category" >홈</a>
      </li>
      <li class="nav-item active">  <a class="nav-link" id="category" >서비스소개</a>
      </li>

    <li class="nav-item active">  <a class="nav-link" id="category">이용방법</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" class="align-middle" id="home">
        <img src="../../../assets/images/Kiwi_Logo.png"
          width="80" height="80">
        KIWI
      </a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" id="category">안전수칙</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" id="category">제휴</a>
    </li>
    <li class="nav-item active">  <a class="nav-link" id="category">인재채용</a>
    </li>
    <!-- <li class="nav-item active">
            <a class="nav-link" id="category" [routerLink]="['/qna']" >Help</a>
        </li> -->
  </ul>

</nav>

