<div class="row" id="footerbar" style="background-color: #c7f4bc;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="col" style="height: 100%; padding-top:10px;">
      <div class="row">
        <div>
            <ul class="navbar-nav" >
                <li><img src="https://www.li.me/hubfs/Assets/footer-facebook.svg" alt="" style="margin-right: 10px">
                <img src="https://www.li.me/hubfs/Assets/footer-twitter.svg" alt="" style="margin-right: 10px">
                <img src="https://www.li.me/hubfs/Assets/footer-instagram.svg" alt="" style="margin-right: 10px">
                <img src="https://www.li.me/hubfs/Assets/footer-angel.svg" alt="" style="margin-right: 10px"></li>
            </ul>
        </div>
  
      </div>
    </div>
    <div class="col" style="height: 100%">
      <ul class="navbar-nav">
          <a class="nav-link" id="category" (click)="policy_personal_info()">개인정보 취급방침</a>
      </ul>
    </div>
      <div class="col" style="height: 100%">
      <ul class="navbar-nav">
          <a class="nav-link" id="category" (click)="policy_service()">서비스 이용약관</a>
      </ul>
    </div>
    <div class="col">
        <ul class="navbar-nav">
            <a class="nav-link" id="category" (click)="policy_location()">위치기반서비스 이용약관</a>
        </ul>
      </div>
      <div class="col">
          <ul class="navbar-nav">
              <a class="nav-link" id="category" (click)="policy_rent()">대여 약관</a>
          </ul>
      </div> 
  </div>